{% extends "crm/base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Log-in</h1>
  {% if form.errors %}
      <div class="ui main container">
    <p>
      Your username and password didn't match.
      Please try again.
    </p>
      </div>
  {% else %}
      <div class="ui main container">
    <p>Please, use the following form to log-in. If you don't have an account <a href="{% url "crm:register" %}">register here</a></p>

  {% endif %}

  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>{% comment %}{% endcomment %}

  </div>
    </div>

{% endblock %}
